*{
    box-sizing: border-box;
}

.mainbutton {
    font-family: Helvetica;
    letter-spacing: 0.4em;
    font-weight: 30px;
    font-size: 30px;
    text-align: center;
    border: 1px solid transparent;
    color: black;
    cursor: pointer;
    padding: 1em;
    background-color: transparent;
    outline: 1px solid;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
    margin-left: 100px;
    height: auto;
}

.mainbutton:hover {
    color: rgba(3, 188, 244, 0.7);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 100px;
}

.loft {
    box-sizing: border-box;
    font-family: Arial;
}

header {
    display: flex;
    margin: 0px;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

body {
    align-items: center;
    min-height: 100vh;
    background-color: #eee;
    justify-content: center;
}

h2 {
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.7em;
    outline: none;
    -webkit-animation: animate 5s linear infinite;
            animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
            0 0 80px #03bcf4, 0 0 160px #03bcf4;
    }
}

@keyframes animate {
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
            0 0 80px #03bcf4, 0 0 160px #03bcf4;
    }
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 50px;
    z-index: 100;
}

.modal__title {
    margin-top: 20px;
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.modal__submit {
    position: absolute;
    right: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.3);
    outline: 0px solid;
}

.modal__submit:hover{
    outline-width: 1px;
}

.modal__content {
    /*background-color: #07252d;*/
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.modal__content label {
    /*color: #03bcf4;*/
    color: black;
    border: 1px solid transparent;
    padding: 10px;
    transition: all 0.2s linear;
    cursor: pointer;
}

.platforms {
    width: 33.3%;
    min-width: 200px;
    font-size: 30px;
    margin-top: 30px;
    font-style: oblique 0.2deg;
    font-weight: default;
}

.platforms input {
    display: none;
}

.platforms input:checked ~ label {
    color: #08ffc5;
}

.tables {
    margin: 20px;
    display: none;
    background-color: #eee;
    border-collapse: collapse;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
    -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    border-radius: 10px;
}

.tables thead{
    background-color: #03bcf4;
    color: white;
    width: 100%;
}

.tables tr{
    width: 100%;
}

.tables thead th {
    line-height: 1.4;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 50%;
}

.tables th:last-child{
    padding-right: 50px;
}

.tables tbody tr:nth-child(even){
    background-color: #f8f8f8;
}

.tables tbody{
    width: 100%;
}

.tables tbody td{

}

.modal__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
    .loft {
        top: 100px;
        left: -170px;
        white-space: nowrap;
    }
    h2 {
        font-size: 3em;
        white-space: nowrap;
    }
    .mainbutton {
        margin-left: 10px;
        font-size: 2em;
        padding: 1em;
    }
    .modal__submit {
        font-size: 1em;
    }
}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    .loft {
        top: 100px;
        left: -170px;
        white-space: nowrap;
    }
    h2 {
        font-size: 1em;
        white-space: nowrap;
    }
    .mainbutton {
        margin-left: 180px;
        font-size: 1em;
    }
    .tables {
        position: absolute;
        margin-top: 130px;
        margin-left: -0px;
    }
}

